Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-azure-vhds, json-sort-check

config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml:

presubmits:
  kubernetes-sigs/image-builder:
  - name: pull-azure-vhds
    labels:
      preset-azure-cred: "true"
    decorate: true
    run_if_changed: 'images/capi/.*'
    decoration_config:
      timeout: 1h
    max_concurrency: 5
    path_alias: sigs.k8s.io/image-builder
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20210309-0688fde-master
        args:
          - runner.sh
          - "./images/capi/packer/azure/scripts/ci-azure-e2e.sh"
        resources:
          requests:
            cpu: 1000m
    annotations:
      testgrid-dashboards: sig-cluster-lifecycle-image-builder
      testgrid-tab-name: pr-azure-vhds
  - name: pull-azure-sigs
    labels:
      preset-azure-cred: "true"
    decorate: true
    always_run: false
    optional: true
    decoration_config:
      timeout: 1h
    max_concurrency: 5
    path_alias: sigs.k8s.io/image-builder
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20210309-0688fde-master
        args:
          - runner.sh
          - "./images/capi/packer/azure/scripts/ci-azure-e2e.sh"
        env:
          - name: AZURE_BUILD_FORMAT
            value: "sig"
        resources:
          requests:
            cpu: 1000m
    annotations:
      testgrid-dashboards: sig-cluster-lifecycle-image-builder
      testgrid-tab-name: pr-azure-sigs
  - name: json-sort-check
    decorate: true
    run_if_changed: 'images/capi/.*\.json$'
    decoration_config:
      timeout: 1h
    max_concurrency: 5
    path_alias: sigs.k8s.io/image-builder
    spec:
      containers:
        - image: gcr.io/k8s-testimages/kubekins-e2e:v20210309-0688fde-master
          args:
            - runner.sh
            - "./images/capi/hack/ci-json-sort.sh"
          resources:
            requests:
              cpu: 1000m
    annotations:
      testgrid-dashboards: sig-cluster-lifecycle-image-builder
      testgrid-tab-name: pr-json-sort-check

capi/containerd: bump to v1.4.4
  images/capi/packer/config/containerd.json
Due: pull-azure-vhds, json-sort-check

Updates packer patch version.
  images/capi/hack/ensure-packer.sh
Due: pull-azure-vhds

Update windows defender to not fail
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-azure-vhds

Added some info to docs for building windows nodes
  docs/book/src/capi/windows/windows.md
Due: none

Add container image docs
  docs/book/src/SUMMARY.md
  docs/book/src/capi/container-image.md
Due: none

Added Containerd SMB registry flag
  images/capi/ansible/windows/roles/runtimes/tasks/containerd.yml
Due: pull-azure-vhds

No longer install cloud-initramfs-growroot Ubuntu qemu
  images/capi/ansible/roles/providers/tasks/qemu.yml
Due: pull-azure-vhds

raw image support
  images/capi/Makefile
  images/capi/packer/raw/OWNERS
  images/capi/packer/raw/linux/centos/http/7/ks.cfg
  images/capi/packer/raw/linux/photon/http/3/ks.json
  images/capi/packer/raw/linux/rhel
  images/capi/packer/raw/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/raw/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/raw/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/raw/packer.json
  images/capi/packer/raw/qemu-flatcar.json
  images/capi/packer/raw/qemu-ubuntu-2004.json
  images/capi/packer/raw/raw-ubuntu-1804.json
Due: pull-azure-vhds, json-sort-check

Add owner aliases for image-builder-raw-maintainers and image-builder-raw-reviewers
  OWNERS_ALIASES
  images/capi/packer/raw/OWNERS
Due: pull-azure-vhds

Updates to config
  images/capi/Makefile
  images/capi/packer/raw/linux/centos/http/7/ks.cfg
  images/capi/packer/raw/linux/photon/http/3/ks.json
  images/capi/packer/raw/linux/rhel
  images/capi/packer/raw/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/raw/packer.json
  images/capi/packer/raw/raw-flatcar.json
  images/capi/packer/raw/raw-ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check

sort json for new ci check
  images/capi/packer/raw/packer.json
  images/capi/packer/raw/raw-flatcar.json
  images/capi/packer/raw/raw-ubuntu-1804.json
  images/capi/packer/raw/raw-ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check

Add docs for CAPI raw provider
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/raw.md
Due: none

Update packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check

Compress the raw image
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check

Fixed logo image URLs used in Azure Marketplace
  images/capi/packer/azure/sku-template.json
Due: pull-azure-vhds, json-sort-check

make defender signatures best effort
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-azure-vhds

include Windows hns fix for 2c+
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
Due: pull-azure-vhds

Bump goss to 0.3.16
  docs/book/src/capi/goss/goss.md
  images/capi/packer/config/goss-args.json
Due: pull-azure-vhds, json-sort-check

Containerd 1.4.4 fails with new SystemdCgroup changes with k8s master/1.21
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
Due: pull-azure-vhds

image-book/gce: small updates in the documentation for gce
  docs/book/src/capi/providers/gcp.md
Due: none

initial changes to support ibm cloud vpc images
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/ibmcloudvpc.md
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config_ibmcloud.toml
  images/capi/packer/ibmcloud/packer.json
  images/capi/packer/ibmcloud/qemu-ibmcloud-ubuntu-2004.json
Due: pull-azure-vhds, json-sort-check

fix clean target
  images/capi/Makefile
Due: pull-azure-vhds

syn up with master
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
Due: none

Do not export manifest for vsphere and vsphere-clone builders
  images/capi/packer/ova/packer-node.json
Due: pull-azure-vhds, json-sort-check

add calico to list of excluded nics
  images/capi/ansible/roles/providers/files/etc/vmware-tools/tools.conf
Due: pull-azure-vhds

Change kubelet service state
  images/capi/ansible/roles/kubernetes/tasks/main.yml
Due: pull-azure-vhds

Fix validate make targets
  images/capi/Makefile
  images/capi/scripts/ci-packer-validate.sh
Due: pull-azure-vhds

Add CI script for populating GOSS tests
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/scripts/ci-goss-populate.sh
Due: pull-azure-vhds

Symlink CI tests into scripts dir
  images/capi/scripts/ci-azure-e2e.sh
  images/capi/scripts/ci-json-sort.sh
Due: pull-azure-vhds

Bump packer-provisioner-goss to 3.0.3 & packer to 1.7.2
  images/capi/hack/ensure-goss.sh
  images/capi/hack/ensure-packer.sh
Due: pull-azure-vhds

Add autoattend comments and align name/phases for kube downloads
  images/capi/ansible/windows/roles/kubernetes/tasks/url.yml
  images/capi/packer/ova/windows/windows-2004/autounattend.xml
  images/capi/packer/ova/windows/windows-2019/autounattend.xml
Due: pull-azure-vhds

Clean up and *use* the ansible.cfg file
  images/capi/.dockerignore
  images/capi/Dockerfile
  images/capi/ansible.cfg
  images/capi/ansible/playbook.retry
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/ova/packer-haproxy.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-azure-vhds, json-sort-check

remove old ci pointers
  images/capi/scripts/ci-azure-e2e.sh
  images/capi/scripts/ci-json-sort.sh
Due: pull-azure-vhds

move CI scripts to new location
  images/capi/scripts/ci-azure-e2e.sh
  images/capi/scripts/ci-json-sort.sh
Due: pull-azure-vhds

keep the alphabetical order in in providers list doc
  docs/book/src/capi/capi.md
Due: none

Change custom_role_names delimiter to commas in ansible playbook.
  images/capi/ansible/haproxy.yml
  images/capi/ansible/node.yml
  images/capi/ansible/windows/node_windows.yml
Due: pull-azure-vhds

Update CAPI customization custom_role_names documentation
  docs/book/src/capi/capi.md
Due: none

Fix typo and add wide version of Azure logo
  images/capi/packer/azure/sku-template.json
Due: pull-azure-vhds, json-sort-check
